<section>
    <div class="container py-5">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-lg-6">
                <h1 class="display-4 fw-bold"><span class="span-text">Discover</span> the Future of Scrabble</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi nulla nesciunt consectetur dolore nostrum ab.</p>
                <a routerLink="leaderboard" class="btn btn-danger px-5 py-3 d-inline-block">Check Out Leaderboard</a>   
            </div>
            <div class="col-12 col-lg-6">
                <img src="../../assets/scrabble (2).jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>


<!-- <h1>Hello World</h1>
<a routerLink="leaderboard">Check Out Leaderboard</a>
<button type="button" class="btn btn-danger">Danger</button> -->
